[submodule "src/ThreadPool"]
	path = src/ThreadPool
	url = git@github.com:progschj/ThreadPool.git
[submodule "TinyWebServer"]
	path = TinyWebServer
	url = git@github.com:qinguoyi/TinyWebServer.git
[submodule "src/TinyWebServer"]
	path = src/TinyWebServer
	url = git@github.com:qinguoyi/TinyWebServer.git
